<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<% gossip%></h1>
        <p>
           <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
 
<p> retour à la page potin</p>

  </body>
</html>